In [17]:
import pandas as pd
from sklearn import tree

In [18]:
df = pd.read_csv("tree.csv")

In [19]:
df

   Height  Weight  Shoe Size  Gender
0     181      80         44    male
1     177      70         43  female
2     160      60         37  female
3     154      54         38  female
4     166      65         40    male
5     190      90         47    male
6     175      64         39    male
7     171      75         42  female
8     185      85         43  female
9     169      71         42    male

In [20]:
x = df.iloc[:,:-1]

In [21]:
x

   Height  Weight  Shoe Size
0     181      80         44
1     177      70         43
2     160      60         37
3     154      54         38
4     166      65         40
5     190      90         47
6     175      64         39
7     171      75         42
8     185      85         43
9     169      71         42

In [22]:
y = df.iloc[:,3]

In [23]:
y

0      male
1    female
2    female
3    female
4      male
5      male
6      male
7    female
8    female
9      male
Name: Gender, dtype: object

In [24]:
classify_ = tree.DecisionTreeClassifier()

In [25]:
classify_ = classify_.fit(x,y)

In [26]:
prediction_ = classify_.predict([[189,85,45]])

In [27]:
prediction_

array(['male'], dtype=object)